#row1{
    margin-top: 50px ; margin-left: -50px;
}
#text1{
    background-color: white ; color: black;
}
#header1{
    font-size: 25px ;
    margin-top: 60px ;
    text-align: left;
}
#p1{
    text-align: left ;font-size: 17px;
}
#imaage1{
    width: 100% ;margin-top: 50px;
}
#header2{
    margin-top: 20px ; text-align: center ; font-size: 18px;
}
#p2{
    margin-top: 30px ; text-align: center;
}
#col1{
    column-gap: 10px ; height: 350px;padding: 10px ;
}
#p4{
    margin-top: 30px ; text-align: center;
}
#col4{
    column-gap: 10px ; height: 350px ; padding: 10px ;
}
#header6{
    margin-top: 20px ; text-align: center ; font-size: 18px;
}
#p7{
    margin-top: 30px ; text-align: center;
}
#p8{
    font-size: 17px ; margin-top: 20px;
}
#btn1{
    font-size: 15px ;width:100% ;
}
#header8{
    position: relative ;  ; color: white ;  ; text-align: center ; margin-top: 40px;
}
#btn3{
    position: relative ; margin-left: 35.5% ; width: 200px ;font-size: 16px;
}
