
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ECEFF1;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color:#ECEFF1;

}
#sub{
    background-image: url(../_img/93.jpg);
    opacity: 0.4%;
}







